:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --gap:    0.25em;

  --light:  #ddd;
  --mid:    #999;
  --active: #090;
  --dark:   #222;

  --primary: #060;
  --primary-border: #393;
  --primary-active: #030;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  color: var(--light);
  background-color: var(--dark);
}


/* BUTTONS / BUTTONS / BUTTONS / BUTTONS / BUTTONS / BUTTONS */



div.buttons .primary {
  margin-left: var(--gap);
  flex: 2
}


button,
.button {
  border: 1px outset var(--mid);
  border-radius: var(--gap);
  padding: var(--gap);
}

button:disabled,
.button:disabled {
  opacity: 0.5;
}

button:not(:disabled),
.button:not(:disabled) {
  cursor: pointer;
}

button:hover,
.button:hover {
  color: #fff;
}

button:hover:active,
.button:hover:active {
  border-style: inset;
  background-color: #000;
}

button.pressed,
.button.pressed {
  color: #fff;
  border-style: inset;
  background-color: #000;
}

button.primary,
.button.primary {
  background-color: var(--primary);
  border-color: var(--primary-border);
}

button.primary:active:hover,
.button.primary:active:hover {
  background-color: var(--primary-active);
}


/* CUSTOM // CUSTOM // CUSTOM // CUSTOM // CUSTOM // CUSTOM */

main {
  min-width: 410px;
}

& h3 {
  margin: 0;
}

#files {
  display: flex;
  justify-content: space-between;
  background-color: #000;

  #first {
    background-color: var(--primary);
    border-color: var(--primary-border);
    border-radius: var(--gap);
    padding: var(--gap);
  }
}

#timing {
  --full-height: calc(100vh - 150px);
  --list-height: calc(var(--full-height) - 30px);
  position: relative;
  height: var(--full-height);
  min-height: 100px;
  margin-top: var(--gap);
  overflow: hidden; /* hides play-mark when list is scrolled */

  #play-mark {
    position: absolute;
    left: -0.25em;
    width: 16.25em;
    height: 2.5em;
    background-color: var(--primary);
    opacity: 0;

    &.playing {
      opacity: 1;
    }
  }

  #predefined {
    position: absolute;
    top: 0;
    width: 100%;
    height: var(--list-height);
    overflow: auto;

    margin-top: 0;
    list-style-type: none;
    padding: 0;

    & li {
      margin: var(--gap) 0;
      display: flex;
      justify-content: space-between;
      align-items: center;

      & > span {
        display: inline-block;
        width: 7em;
        cursor: pointer;
      }

      & .active {
        border-color: var(--active);
      }

      & span.button {
        display: flex;
        justify-content: space-around;
        align-items: center;
      }
    }
  }

  & div.buttons {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;

    & button {
      flex-grow: 1;
    }
  }
}

#selected {
  margin-top: var(--gap);
  padding: var(--gap);

  & #row {
    display: flex;

     & p#label {
      width: 6em;
      margin: 0 var(--gap) 0 0;
    }

    & input {
      width: 5em;
    }

    & #play-one,
    & #set {
      flex-grow: 1;
      margin-left: 1em;
    }

    &.disabled {
      background-color: transparent;
      opacity: 0.5;
      pointer-events: none;
    }
  }

  & .buttons {
    margin-top: 1em;
    display: flex;
    justify-content: space-between;

    & #scroll button {
      width: 2em;
      height: 2em;

      & img {
        width: 1em;
        height: 1em;
      }
   }

    & #log-timing {
      width: 9.25em;
    }
  }
}