:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  --light: #ddd;
  --mid: #888;
  --dark: #222;
  --gap: 0.5em;

  --primary: #060;
  --primary-border: #393;
  --primary-active: #030;

  color: var(--light);
  background-color: var(--dark);
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


/* BUTTONS / BUTTONS / BUTTONS / BUTTONS / BUTTONS / BUTTONS */



div.buttons .primary {
  margin-left: 0.5em;
  flex: 2
}


button,
.button {
  border: 1px outset var(--mid);
  border-radius: var(--gap);
  padding: var(--gap);
}

button:not(:disabled),
.button:not(:disabled) {
  cursor: pointer;
}

button:hover,
.button:hover {
  color: #fff;
}

button:hover:active,
.button:hover:active {
  border-style: inset;
  background-color: #000;
}

button.pressed,
.button.pressed {
  color: #fff;
  border-style: inset;
  background-color: #000;
}

button.primary,
.button.primary {
  background-color: var(--primary);
  border-color: var(--primary-border);
}

button.primary:active:hover,
.button.primary:active:hover {
  background-color: var(--primary-active);
}



main {
  min-width: 440px;
}

& h3 {
  margin: 0;
}

#files {
  display: flex;
  justify-content: space-between;
}

#timing {
  position: relative;
}

#in-use {
  position: absolute;
  top: 0;
  left: 16.75em;
  height: 100%;
  width: 10em;
  background-color: #fff6;
  mix-blend-mode: soft-light;
  pointer-events: none;

  &.mp3 {
    left: 7.25em;
  }
}

#predefined {
  list-style-type: none;
  padding: 0;
  height: 74vh;
  overflow: auto;

  & li {
    margin: 0.25em 0;
    display: flex;
  }

  & .button {
    display: inline-block;
    width: 6em;
    margin-right: 0.5em;
  }

  & span:not(.label) {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 8em;
  }

  & .to {
    margin: 0 0.25em;
  }
}

#selected {
  margin-top: 1em;
  padding: 0.25em;

  #row {
    display: flex;

     & p#label {
      width: 6em;
      margin: 0 0.5em 0 0;
    }

    & input {
      width: 5em;
    }

    & #play-selected,
    & #set {
      flex-grow: 1;
      margin-left: 1em;
    }

    &.disabled {
      background-color: transparent;
      opacity: 0.5;
      pointer-events: none;
    }
  }
}